:root {
  // colors
  --color-white: #ffffff;
  --color-black: #000000;

  --color-red-500: #E87519;


  // other
  --shadow: 0 5px 20px 10px rgba(0,0,0,.1);
  --gradient: linear-gradient(to bottom, #fea526 15%, #fde7c7 100%);
}